



#b1 {
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: sans-serif;
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 6px;
  transition: .5s;
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 60px;
  box-shadow: 0 5px 20px rgba(0,0,0, .5);
  overflow: hidden;
  z-index: 3;
}
#b1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #1366ff, #ff0b6d);
  z-index: -1;
  border-radius: 60px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s ease-in-out;
}
#b1:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}



#b2 {
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: sans-serif;
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 6px;
  transition: .5s;
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 60px;
  box-shadow: 0 5px 20px rgba(0,0,0, .5);
  overflow: hidden;
  z-index: 3;
}
#b2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #1366ff, #ff0b6d);
  z-index: -1;
  border-radius: 60px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s ease-in-out;
}
#b2:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}






#b4 {

  position: absolute;
  top: 10%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: sans-serif;
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 6px;
  transition: .5s;
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 60px;
  box-shadow: 0 5px 20px rgba(0,0,0, .5);
  overflow: hidden;
  z-index: 3;
}
#b4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #1366ff, #ff0b6d);
  z-index: -1;
  border-radius: 60px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s ease-in-out;
}
#b4:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}



#b5 {

  position: absolute;
  top: 10%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: sans-serif;
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 6px;
  transition: .5s;
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 60px;
  box-shadow: 0 5px 20px rgba(0,0,0, .5);
  overflow: hidden;
  z-index: 3;
}
#b5::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #1366ff, #ff0b6d);
  z-index: -1;
  border-radius: 60px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s ease-in-out;
}
#b5:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}


.p {
  text-indent: 20px;
  font-family: "times new roman", times, serif;
  font-weight: bold;
  color:black;
  background-color:white;
  border-radius: 10px;
  top: 30%; /* Отступ в процентах от верхнего края окна */
  left: 15%; /* Отступ в процентах от левого края окна */
  width: 81%; /* Ширина блока */
  height: auto; /* Высота блока */
  position: absolute; /* Абсолютное позиционирование блока */
  margin-top: -5%; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
  margin-left: -5%; /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
  font-size: 17px;
  z-index: 2;
  border-right: 2px;
}


.thumb{
  margin-top: 11%;
  margin-left: 13%;
}

